<configuration>
	 <!-- Properties -->
<property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="log.history" value="7"/>
    <property name="log.folder" value="logs"/>
    <property name="log.level" value="DEBUG"/>
  <appender name="rollingCoreLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${log.folder}/MI_.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxHistory>${log.history}</maxHistory>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>1KB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
        <pattern>${log.pattern}</pattern>
    </encoder>
    <prudent>true</prudent>
</appender>
        
  <root level="DEBUG">
    <appender-ref ref="rollingCoreLog" />
  </root>
</configuration>